<mat-card>IIT Cloud Computing Demo Application</mat-card>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
        <button mat-icon-button (click)="clickHomeBtn()" [matMenuTriggerFor]="Menu" class="cloneIcon">
            <mat-icon>Home</mat-icon>
        </button>
        {{label}}
    </ng-template>

<!-- <mat-menu #Menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu> -->

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <button mat-icon-button (click)="clickSettingsBtn()" [matMenuTriggerFor]="Menu" class="cloneIcon">
            <mat-icon>Settings</mat-icon>
        </button>
        {{label}}
    </ng-template>

<!-- <mat-menu #Menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu> -->

  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>